<!-- Navigation -->
{% load static %}
<nav class="navbar">
  <div class="container nav-container">
    <a href="#" class="logo">
    <i class="fas fa-book-reader"></i>
      The Reader API
      {% comment %} <img src="{% static 'assets/logo_png.png' %}"/> {% endcomment %}
    </a> 
    <div class="nav-links">
      <a href="#features">Features</a>
      <a href="#endpoints">API Reference</a>
      <a href="ebooks/">eBooks</a>
      {% comment %} <a href="#stats">Stats</a> {% endcomment %}
      <a href="#developer">Developer</a>
    </div>
    <!-- <button class="get-started">Get Started</button> -->
  </div>
</nav>
